Labb2/Connected Services/LagerServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LagerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LagerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVara">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vara" nillable="true" type="tns:Vara" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVara" nillable="true" type="tns:ArrayOfVara" />
  <xs:complexType name="Vara">
    <xs:sequence>
      <xs:element minOccurs="0" name="ButikAntal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LagerAntal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Namn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pris" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vara" nillable="true" type="tns:Vara" />
</xs:schema>